body{
	background-color: #49274A;
	margin: 0;
	padding: 0;
	width: 100%;
	height: auto;
}
.timeline{
	width: 500px;
	height: auto;
	border-left: 1px solid #f9f7f6;
	padding: 0px 10px 0px 10px;
	margin: 50px auto;
	background-color: #49274A;
	
}
.comment{
	width: 700px;
	height: auto;

}
p{
	padding: 20px;
	width: 400px;
	height: auto;
	margin: 10px;
	border-radius: 5px;
	background-color: #f9f7f6;
	position: relative;
}
div{
	margin: 0;
	padding: 0;
}

p:before{
	content: "";
	width: 10px;
	height: 10px;
	background-color: #49274A;
	border-radius: 50%;
	border: 2px solid #f9f7f6;
	position: absolute;
	top: 19px;
	left: -28px;
	display: block;
	clear: both;
}

p:after{
	content: "";
	border-color: transparent #f9f7f6 transparent  transparent;
	border-style: solid;
	border-width: 10px;
	height: 0;
	width:  0;
	position: absolute;
	top: 18px;
	left: -20px;
}
.para{
	width: 70%;
	/*float: left;*/
}

.img{

	width: 25px;
	height: 25px;
	border: 2px solid #f9f7f6;
	border-radius: 50%;
	position: absolute;
	top: 10px;
	left: -65px;
	
}

.command{
	line-height: 10px;
	text-align: right;
	position: absolute;
	top: 50px;
	left: -73px;
	font-weight: bold;
	color: #f9f7f6;
	font-size: 12px;
}
.arrow-down{
	width: 100%;
	margin: -20px auto;
	padding: 0;
	margin-left: 46%;
	margin-bottom: 20px;
}

